@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 13 70% 9%;
    --foreground: 29 91% 81%;
    --card: 0 0% 100%;
    --card-foreground: 13 70% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 13 70% 9%;
    --primary: 16 79% 57%;
    --primary-foreground: 13 70% 9%;
    --secondary: 16 64% 31%;
    --secondary-foreground: 29 91% 81%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 16 79% 57%;
    --accent-foreground: 13 70% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 62% 19%;
    --input: 0 0% 89.8%;
    --ring: 16 79% 57%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 13 70% 9%;
    --foreground: 29 91% 81%;
    --card: 13 70% 15%;
    --card-foreground: 29 91% 81%;
    --popover: 13 70% 9%;
    --popover-foreground: 29 91% 81%;
    --primary: 16 79% 57%;
    --primary-foreground: 13 70% 9%;
    --secondary: 16 64% 31%;
    --secondary-foreground: 29 91% 81%;
    --muted: 13 70% 15%;
    --muted-foreground: 29 91% 60%;
    --accent: 16 79% 57%;
    --accent-foreground: 13 70% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 29 91% 81%;
    --border: 20 62% 19%;
    --input: 13 70% 15%;
    --ring: 16 79% 57%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
    background-color: #270e07;
  }
}

@layer utilities {
  .bg-app-background {
    background-color: #270e07;
  }

  .bg-header {
    background-color: #e9683a;
  }

  .text-header {
    color: #270e07;
  }

  .bg-button {
    background-color: #80371c;
  }

  .text-button {
    color: #facda3;
  }

  .border-book-card {
    border-color: #4d2612;
  }
}
